# ENVIRONMENT
BACKEND_ENV=development
# BACKEND_ENV=production

# DATABASE
DATABASE_LOCAL=your-local-db-url-for-dev
DATABASE_URL=your-db-url-for-production
DATABASE_PASSWORD=password-for-db-url-of-production

# NEXT AUTHENTICATION
NEXTAUTH_URL=http://localhost:3000/
NEXTAUTH_SECRET=a-long-random-string

# GOOGLE AUTH SECRETS
GOOGLE_CLIENT_ID=your-client-id
GOOGLE_CLIENT_SECRET=your-client-secret

# FIREBASE APP CONFIGURATION
NEXT_PUBLIC_FIREBASE_API_KEY=your-firebase-web-app-config-api-key
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=your-firebase-web-app-config-auth-domain
NEXT_PUBLIC_FIREBASE_PROJECT_ID=your-firebase-web-app-config-project-id
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=your-firebase-web-app-config-storage-bucket
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=your-firebase-web-app-config-messaging-sender-id
NEXT_PUBLIC_FIREBASE_APP_ID=1:your-firebase-web-app-config-app-id

# remember to change the callback redirect in google cloud platform for google login in production